*{
    font-family: 'Roboto', sans-serif;
}
.mayus{
    text-transform:uppercase;
    text-align: left;
    font-weight: bold;
    border-top: 1px solid black;
}
.gris{
    background-color:rgb(200, 200, 200);
}
.money{
    text-align: right;
}
td{
    padding:10px;
}
.efectohover:hover{
    background-color:rgb(79, 121, 121);
}
.gris:hover{
    background-color:rgb(79, 121, 121);
}